<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bloqueador_telemarketing">

    <application
        android:name=".BloqueadorApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Bloqueador_telemarketing"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bloqueador_telemarketing">

        <activity
            android:name=".ui.activity.AppActivity"
            android:label="@string/title_activity_app">

        </activity>
        <activity android:name=".ui.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>